@model Blog.Models.AppRole
@{
    ViewData["Title"] = "Edit Role";
    Layout = "_AdminLayout";
}

<div class="admin-content clearfix">
    <div class="button-group">
        <a asp-controller="Admin" asp-action="CreateRole" class="btn btn-sm">Add Role</a>
        <a asp-controller="Admin" asp-action="Roles" class="btn btn-sm">Manage Roles</a>
    </div>
    <div class="">
        <h2 style="text-align: center;">Edit Role</h2>

        <form asp-action="EditRole" method="post">
            <div asp-validation-summary="All" style="color:red;"></div>

            <div class="input-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="text-input">
            </div>
            <div class="input-group">
                <label asp-for="Description"></label>
                <textarea class="text-input" asp-for="Description" id="description"></textarea>
            </div>
            <div class="input-group">
                <button type="submit" name="update-topic" class="btn">Update Role</button>
            </div>
        </form>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}