@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

@* <header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">You do not have access to this resource.</p>
</header> *@

<div class="auth-content">
    <h3 class="form-title">@ViewData["Title"]</h3>
    <p>
        You do not have access to this page.
    </p>
</div>
