@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}


<div class="auth-content">
    <h3 class="form-title">@ViewData["Title"]</h3>
    <p>
        Please check your email to reset your password.
    </p>
</div>


