@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}


<div class="auth-content">
    <form method="post">
        <h3 class="form-title">@ViewData["Title"]</h3>
        <h4>Enter your email.</h4>
        <div asp-validation-summary="All" style="color:red;"></div>
        <div>
            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email" class="text-input" />
        </div>
        <button type="submit" class="btn">Submit</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
